@media only screen and (max-width: 1330px){
.about-us{padding-left: 10rem;

}
.achievements__image-national {
    margin-left: 4rem;
    margin-bottom: 5rem;
}
.bg-video__content {
    height: 67%;
    width: 27rem;
}
}

@media only screen and (max-width: 1215px){
body{
font-size: 1.4rem;
}
.heading-primary--main {
    font-size: 4.2rem;
}
.heading-primary--sub {
    font-size: 2.8rem;
}
.bg-video__content {
    height: 67%;
    width: 25rem;
}
.composition__photo {
    width: 60%;
}
.composition__photo--p2 {
    right: 10%;
}
.composition__photo--p3 {
    left: 10%;
    top: 10.5rem;
}
.feature-box__icon {
    font-size: 5rem;}
    .feature-box {
        font-size: 1.4rem;
        width:20rem ;
        height: 34rem;
    }
    .achievements__image-national {
        margin-left: 3rem;
        margin-bottom: 5rem;
        
    }
   .achievements__image2{
       height: 16rem;
   }
   .team__box{

   }
   .team__coach-box--img {
    height: 27rem;
   }
   .team__info-div {
    width: 23.5rem;
}
.heading-tertiary__gold {
font-size:1.3rem ;
}
.paragraph_about-coach {
    font-size: 1.4rem;
}
.paragraph {
    font-size: 1.4rem;
}
}

@media only screen and (max-width: 1015px){
    body{
        font-size: 1.3rem;
    }
    .header {

    }
    .sidebar{
        width: 100%;
        height: 6rem;
        justify-content:flex-start ;
    }
    .nav-btn__links {
        margin-top: 0rem;
        margin-right: 6rem;
        height: 10rem;
       
    }
    .header__logo {
     
        top: 9rem;
        left: 12rem;
      
    }
    .bg-video__content {
        height: 67%;
        width: 20rem;
    }
    .training-session {
        padding-top: 3rem;
    }
    .contact-info {
        margin-left: -14rem;
    }
    .section-features {
        padding: 5rem;
    }
    .section-team {
        padding-left: 5rem;
    }
    .team__coach-box--img {
        height: 25.2rem;
       }
       .team__info-div {
        width: 22rem;
    }
    .heading-tertiary__gold {
    font-size:1.3rem ;
    }
    .paragraph_about-coach {
        font-size: 1.3rem;
    }
    .paragraph {
        font-size: 1.3rem;
    }
    .achievements__nat-div {
        margin-left: 0rem;
    }
    .composition__photo--p2 {
        right: 10%;
        top: 2rem;
    }
    .composition__photo--p3 {
        left: 10%;
        top: 6rem;
    }
    .story {
        width:83%;
    }
     
}

@media only screen and (max-width: 940px){
    body{
        font-size: 1.2rem;
    }
      
      .heading-secondary {
        font-size: 3.6rem;
      }
     
      .heading-primary--main {
        font-size: 4rem; 
      }
      
      .heading-primary--sub {
        font-size: 2.5rem;
      }

    .composition__photo--p2 {
        right: 10%;
        top: 2rem;
    }
    .composition__photo--p3 {
        left: 10%;
        top: 6rem;
    }
    .section-features {
        padding: 2rem;
        padding-right: 5rem;
    }
    .section-team {
        padding-left: 3rem;
    }
    .btn--join {
        width: 16rem;
        flex: 1 0 1;
        height: 6rem;
}
.follow-text {
    font-size: 1.4rem;
    display: block;
    flex: 1 0 4%;
}
.follow-us {
 flex-wrap: wrap;
 height: 13rem;
}
.contact-info {
    margin-left: -19rem;
    font-size: 1.4rem;
    
    flex: 1 0 133%;

}
.follow-icons {
    flex: 1 0 4%;
}
.achievements__image2 {
    height: 14rem;
}
.achievements__image-int {
    height: 17rem;
}
.achievements__nat-div {
    margin-left: -4rem;
}
.story {
    width:88%;
}
.story__shape {
    width: 13rem;
    height: 13rem;

}
.story__text {
font-size: 1.2rem;

}
.story {
    width: 88%;
    height: 25rem;
}

}
@media only screen and (max-width: 830px){
    .header {
        display: block;
        height: 100vh;
      
    }
    .header__text-box {
        transform: translate(10%,80%);
    }
   
    .training-session{
        width: 100%;
        height: 25rem;
        position: static;
          
    }
    /* .follow-us{
        margin-top: 24rem;
    } */
    .heading-video{
        margin-top: 0.2rem;
    }
    .bg-video__content {
        height: 100%;
        width: 28rem;
    }
    .sidebar {
        width: 100%;
        height: 6rem;
        justify-content: flex-start;
    }
    .row .col-1-of-2{
        width: 100%;
        padding-right: 5rem;
    }
    
    .heading-tertiary__black {
        margin-top: 2rem;
    }
    .composition {
        height: 34rem;
        margin-top: 8rem;
    }
    .composition__photo--p2 {
        right: 7%;
        top: -2rem;
    }
    .composition__photo--p3 {
        left: 25%;
        top: 16rem;
    }
    
    
    .composition__photo {
        width: 44%;
    }
    .achievements__image2 {
        height: 13rem;
    }
    .story__shape {
        width: 12rem;
        height: 12rem;
    
    }
    .story__text {
    font-size: 1.2rem;
    
    }
    .story {
        width:88%;
        height: 25rem;
        
    }
    .about-us {
        padding-left: 5rem;
    }
    .row {
        width: 100%;
    }
    .about-us {
        padding-left: 5rem;
        margin-top: 3rem;
    }
    .section-features {
        margin-top: 3rem;
    }
    .feature_row{
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .team__div {
        margin-bottom: -7rem;
        margin-top: 3rem;
      
    }
    .achievements__internationals {
        margin-bottom: -6rem;
        margin-top: -3rem;
    }
    .achievements__nat-div{
        margin-top: -3rem;
    }
    .achievements__int-div{
        margin-top: -3rem;
    }
}
@media only screen and (max-width: 890px){
    .feature-box {
        font-size: 1.4rem;
        width: 17rem;
        height: 31.1rem;
    }
    .feature-box__icon {
        font-size: 3rem;
    }
    .heading-tertiary__gold {
        font-size: 1rem;
    }
    .team__coach-box--img {
        height:21.2rem;
    }
    .team__info-div {
        width: 18.2rem;
        height: 13rem;
        padding: 0.5rem;
    }
    .paragraph_about-coach {
        color: #c23616;
        font-size: 1.4rem;
        margin: 0;
        
    }
    .achievements__image {
        margin: 0 3rem;
    }
    .photo_heading {
        margin-top: 10rem;
    }
    .contact-heading {
        margin-top: 14rem;
    }
    .location__info {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .location_heading{
        font-size: 2.5rem;

    }
    .location {
        height: auto;
        margin-top: 15rem;
       
    }
    .location__map{
        margin-top: 2rem;
    }
  
    
}
@media only screen and (max-width: 769px){
    body{
        font-size: 1rem;
    }
      
      .heading-secondary {
        font-size: 3rem;
      }
     
      .heading-primary--main {
        font-size: 3.6rem; 
      }
      
      .heading-primary--sub {
        font-size: 2.2rem;
      }
      .header__text-box {
        width:35rem ;
    }
    .header__logo {
        top: 9rem;
        left: 5rem;
    }
    .about-us {
        padding-left: 5rem;
        margin-top: 3rem;
    }
    .follow-us {
        
        flex-direction: column;
        padding-top: 2rem;
        height: 21rem;
        padding-bottom: 2rem;
    }
    .btn--join {
        
}
.follow-text {
  margin-left: -2rem;
}

.contact-info {
    

}
.follow-icons {
    flex: 1 0 4%;
    margin-top: -10rem;
}
.header__text-box {
    transform: translate(-12%,80%);
}
.row .col-1-of-4{
    width: 100%;
    margin-bottom: 2rem;
    
}
.feature-box {
    font-size: 1.4rem;
    width: 33rem;
    height: 25.1rem;
    margin: auto;
}
.feature-box__icon {
    font-size: 4rem;
}
.team__div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.team__box{
    margin: auto;
}
.achievements__int-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .achievements__image {
    margin:auto;
    margin-bottom: 3rem;
}
.achievements__image-national {
    margin: auto;
    margin-bottom: 2rem;
}

.contact {
    padding: 2rem;
    width: 100%;
 }
 .text {
 
     width: 100%;
     
 }
 .map{
     width: 100%;
 }
}

@media only screen and (max-width: 501px){

    body{
        font-size: 1rem;
    }
      
      .heading-secondary {
        font-size: 2.6rem;
      }
     
      .heading-primary--main {
        font-size: 3.7rem; 
      }
      
      .heading-primary--sub {
        font-size: 2.4rem;
      }

      .header__text-box {
        transform: translate(-37%,80%);
    }
    .footer-parent {
      flex-direction: column;
    }
    .social-link{
        margin: auto;
        margin-top: 2rem;
    }
    .contact {
        padding: 2rem;
        width: 100%;
     }
     .text {
     
         width: 100%;
         
     }
    
 

}
@media only screen and (max-width: 561px){
    .composition__photo--p3 {
        left: 25%;
        top: 11rem;
    }
    .composition__photo {
        width: 54%;
    }
    .composition__photo--p2 {
        right: 10%;
        top: 2rem;
    }
    .composition__photo--p2 {
        right: -10%;
        top: -2rem;
    }
    .achievements__image2 {
        height: 10rem;
    }
    .location_heading{
        font-size: 2rem;

    }
    .loaction_para{
        width: 100%;
    }
    .location__address {
        width: 100%;
    }

}
@media only screen and (max-width: 360px){
    .feature-box {
        font-size: 1.4rem;
        width: 25rem;
        height: 25.1rem;
        margin: auto;}
        .follow-us {
         overflow: hidden;
        }
        .header__text-box {
            transform: translate(-60%,80%);
        }
    
}
@media only screen and (max-width: 37.5em){
    .story {
        -webkit-transform: skewX(0);
        transform: skewX(0);
        padding-top: 1rem;
    }
    .story__shape {
        -webkit-transform: translateX(-3rem) skewX(0);
        transform: translateX(-3rem) skewX(0);
    }
    .story__text {
        -webkit-transform: skewX(0);
        transform: skewX(0);
    }
}


@media only screen and (max-width: 56.25em){
    .story {
        width: 100%;
        padding: 2rem;
        padding-left: 7rem;
    }
}

