/* ----------------------------------------------------------- */
/* Basic */
/* ----------------------------------------------------------- */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size:1.6rem;
  line-height: 1.7;
  color: white;
  /* position: relative; */
  /* padding: 3rem;  */
}
/* ----------------------------------------------------------- */
/* REUSABLE */
/* ----------------------------------------------------------- */

/*------ Paragraphs------- */
.paragraph {
  color: #777;
  font-size: 1.6rem;
  text-align: justify;
}

/*------ Buttons------- */

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
}

.btn--white {
  background-color:#f5f6fa;
  color: #c23616;
}
.btn--white::after {
  background-color: #c69963;
}

.btn--green {
  background-color: #6D214F ;
  color: #fff;
  border-radius: 2.5rem;
}
.btn--green::after {
  background-color: #6D214F;
  border-radius: 2.5rem;
}

.btn:hover {
  transform: translateY(-3px);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
  font-size: 1.7rem;
  color: #c69963;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #c69963;
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #c69963;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

/* ---------grid--------- */
.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

/* -----Headings------ */

.heading-tertiary__black {
  color: #777;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.heading-tertiary {
  color: #c69963;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top: 8rem;
  letter-spacing: 0.2rem;
}

.heading-secondary {
  font-size: 4rem;
  color: #54483a;
  font-weight: 400;
}
.heading-secondary__white {
  font-size: 4rem;
  color: #fff;
  font-weight: 400;
}
.heading-secondary::after {
  display: block;
  height: 2px;
  background-color: #c69963;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  animation-name: moveInRight;
  animation-duration: 1s;
}
.heading-tertiary__gold{
  color: #c69963;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-top:0.5rem;
  letter-spacing: 0.2rem;
}

/* ----- Reusable margins------ */
.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-huge {
  margin-top: 14rem;
}
.u-margin-top-small{
  margin-top:2rem;
}
.u-margin-top-medium{
  margin-top: 4rem;
}
/* ----------------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------------- */
.nav-btn__links{
  margin-top: 2.5rem;
  margin-right: 6rem;
  height: 50rem;
  background-color: tomato;
  cursor: pointer;
  position: relative;
}
.navigation__button:hover .nav-btn::before{
  top: -1.1rem;
}
.navigation__button:hover .nav-btn::after{
  top: 1.1rem;
}
.nav-btn {
  position: relative;
    background-color: white;
    height: 2px;
    width: 4rem;
    display: inline-block;
   text-align: center;
   margin-top: 3rem;
   transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__button{
  position: absolute;
  z-index: 200;
  cursor: pointer;
  height: 4rem;
  margin-left: 1rem;
  
}
.nav:hover{
  color: #c23616;
}

#navi-toggle{
  display: none;
}
.nav-btn::before,
.nav-btn::after {
 
  background-color: white;
  height: 2px;
  width: 4rem;
  display: inline-block;
  content: ""; 
  position: absolute;
  left:0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.nav-btn::after {
  top: 1rem;
}
.nav-btn::before {
  top: -1rem;
 }

.nav-checkbox:checked + .navigation__button .nav-btn{
  background-color: transparent;
}
.nav-checkbox:checked + .navigation__button .nav-btn::before{
  transform: rotate(45deg);
  top: 0;
}
.nav-checkbox:checked + .navigation__button .nav-btn::after{
  transform: rotate(-45deg);
  top: 0;
}
.nav-checkbox:checked ~ .navbar-dropdown{
opacity: 1;
width:26rem;
visibility:visible;
}

.navbar-dropdown{
  background-image: linear-gradient(to right, rgba(16, 29, 44, 0.842), rgba(16, 29, 44, 0.685));
  z-index: 10;
  width:0;
  opacity: 0;
  height: 40rem;
  position: absolute;
  padding-top: 1rem;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  visibility: hidden;
  }
/* .show{
  width: 26rem; 
  opacity: 1;
  animation:nav .5s ease-out;
  
  } */
.nav-list{
  
}
.link{
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 4rem;
  
}


.header {
  background-image: linear-gradient(to right, #1e2938ec, #1e2938e3),
    url("./img/image-hero2.png");
  height: 80vh;
  width:100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: space-between;
  /* clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); */
  position: relative;
  background-attachment: fixed;
}
.after-header {
  background: whhite;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 12rem;
  position: absolute;
  top: 4rem;
  left: 12rem;
  font-size: 2rem;
  color: #c69963;
}

.header__text-box {
  /* position: absolute;
        top: 50%;
        left: 16%;
        transform: translate(-50%, -50%); */
  /* text-align: center;  */
  align-self: center;
  justify-self: start;
  margin-left: 18rem;
}

.navbar {
  display: flex;
  list-style: none;

  padding: 5px 25px;
  margin-top: 15px;
}
.hero__video {
  height: 100%;
  width:100%;
}
.bg-video__content {
  height: 74%;
  width: 30rem;
}

.training-session {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  height: 80vh;
  background-color: #101d2c;
  width: 25%;
  justify-content: center;
  text-align: center;
}

.sidebar {
  background-color: #c69963;
  width: 8rem;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: fixed;
  z-index: 15;
}

.nav-links {
  display: flex;
  justify-content: center;
  background-color: #485460;
  height: 8rem;
  width: 100%;
}
.nav {
  margin: 10px 10px 10px;
  color: white;
  text-decoration: none;
  font-size: 2rem;
}
/* ----------------------------------------------------------- */
/* 
section About us*/
/* ----------------------------------------------------------- */

.about-us {
  text-align: center;
}
.composition {
  position: relative;
}
.composition__photo {
  width: 65%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 1%;
  top: 6rem;
}
.composition__photo--p3 {
  left: 15%;
  top: 14.5rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #c69963;
  transform: scale(1.05) translate-Y(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

/* ----------------------------------------------------------- */
/* 
section features */
/* ----------------------------------------------------------- */

.section-features {
  padding: 10rem;
  background-image: linear-gradient(to right, #1e2938a1, #1e2938b4),
    url("./img/feature-image.jpg");
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4 rem rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
  height: 36rem;
}
.feature-box__icon {
  font-size: 6rem;
  display: inline-block;
  background-image: linear-gradient(to right, #c69963, #c69963);
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

/* ----------------------------------------------------------- */
/* 
follow us div */
/* ----------------------------------------------------------- */
.follow-us{
background-color: #1C1E1E;
display: flex;
padding-left: 20rem;
padding-right: 10rem;
align-items: center;
height: 7rem;
justify-content: space-between;
}
.follow-text{
font-size: 2rem;
margin-left:auto ;
margin-right
:2rem ;
}
.contact-info{
margin-left: auto;
}
.contact-info p{
  font-size: 1.6rem;
}
.follow-icons{
display: flex;
align-items: center;
justify-content: space-between;
margin-right:1.5rem ;
}
.follow-icon-insta{
  font-size: 2.5rem;
  color: red;
  
}
.follow-icon-facebook{
  font-size: 2.5rem;
  
}
.follow-icon-youtube{
  font-size: 2.5rem;
  color: red;
  
  
}
.icon{
  display: inline-block;
  padding:0.5rem;
  background-color: white;
  margin: 0 1rem;
  width: 4rem;
  text-align: center;

  
}
/* ----------------------------------------------------------- */
/* 
section team */
/* ----------------------------------------------------------- */

.section-team{
  /* background-color: ; */
  padding: 5rem 5rem 5rem 13rem; 
  background-color: #ffffff;
}

.team__top-div{
  text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.2rem;
}
.team__coach-box--img{
  height: 28rem;
  
}
.team__div{
  display: flex;
  justify-content: space-around;
}
.team__info-div{
  background: white;
  transform: translate(7%,-50%);
  width: 24.3rem;
  padding: 2rem;
  text-align:center;
  background-color: #ffffff;
  box-shadow: 0 2.5rem 4rem rgba(41, 40, 40, 0.103);
}
.paragraph_about-coach{
  color:#c23616;
  font-size: 1.7rem;
  margin: 1rem ;
}
.team__para{
  width: 50rem;
  margin: auto;
}
/* ----------------------------------------------------------- */
/* 
section Achievements */
/* ----------------------------------------------------------- */

.achievements{
  background-color:#FAFAFA;
  padding: 5rem;
}
.achievements__int-div{
  display: flex;
  justify-content: center;
}
.achievements__image{
  margin: 0 5rem;
}
.achievements__nat-div{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5rem;
}
.achievements__paragraph{
  text-align: center;
  color: #000;
  font-size: 1.6rem;
}
.achievements__paragraph-name{
  
  text-align: center;
  color:#c23616;
  font-size: 1.6rem;
}
.achievements__image-national{
 margin-left:10rem;
 margin-bottom: 5rem;
}

.section-stories{
  padding: 5rem;
  background-image: linear-gradient(to right, #d8d1c875, #5e5d5b2d), url(./img/pexels-adrien-olichon-2387793.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.4rem;
  transform: skewX(-12deg);
  color: #000; 

}
.white{
  color: white;
}
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }




  /* ----------------------------------------------------------- */
/* Footer*/
/* ----------------------------------------------------------- */

footer{
  background-color:#3A3838 ;
}
.footer-text{
    display :flex;
  margin-left:5rem ;
   
}
.footer-parent{
  
  display: flex;
  justify-content: space-between;
  padding: 55px;
 font-size: 1.7rem;

 
}
ul {
  list-style-type: none;
}
.social-link{
  display:flex;
}
.social-link li{
  margin-left:1.5rem ;
}
.text-value{
  margin: 0px 15px;
}
a{
  text-decoration: none;
  
}
.footer-p{
  text-align:center;
  font-size: 1.5rem;
  padding-bottom: 50px;
}

.text-value a{
  color:white;
}

/* ----------------------------------------------------------- */
/* Contact us */
/* ----------------------------------------------------------- */
.contact-heading{
  text-align: center;
  width: 50%;
  margin: auto;
}
.contact{
width: 60rem;
margin: auto;
margin-top: 2rem;
}
#contact-us{
  background-color: #212529;
  height: 100vh;
  overflow:auto;
}
.header__logo{
  width: 17rem;;
}
.text{
  border-radius: 3px;
  outline: none;
  border: none;
  height: 54px;
  margin: 20px auto;
  background-color: #F1EDED;
  width: 600px;
  padding: 18px;
}
.area{
    height:8rem;
}
.send-mes{
  text-align: left;
}
.send{
  padding: 10px;
  height: 4rem;
}



.contact-form{
    text-align: center;
}
.paragraph_contact{
  color: #afa8a8;
  font-size: 2rem;
  text-align: left;
}
/* ----------------------------------------------------------- */
/* locations */
/* ----------------------------------------------------------- */
.locations{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;

}
.location{
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height:62rem;
  margin-top:8rem;
}
.location:last-child{
  margin-bottom: 2rem;
}
.location_heading{
margin-bottom: 4rem;
text-align: center;
margin-top: 2rem;
font-size: 2.6rem;
}
.location__info{
  display: flex;
  justify-content: space-around;
  width: 120rem;
  color: #54483a;
}
.location_paragraph{
  font-size: 1.5rem;
  display: inline-block;
}
.location__address{
  width:50rem;
  display: flex;
  border-bottom: 1px solid #c69963;
  height: 6rem;
  margin-top: 3rem;
}

.location_icon{
  font-size: 2rem;
  padding-top: 0.5rem;
  margin-right: 2rem;
}
.location__para{
  display: flex;
}
.location_link{
  color:#54483a;
}