<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
   
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/icon-font.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Unified Table Tennis Academy</title>
</head>
<body>
    <header class="">
        <div class="sidebar">           
        <div class="nav-btn__links">
            <input type="checkbox"  class="nav-checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">
                <span class="nav-btn">&nbsp;</span>
            </label>
        <div class="navbar-dropdown">    
            <ul class="nav-list">
                <li class="link"><a href="/" class="nav">HOME</a></li>
              <li class="link"> <a href="/contactUs" class="nav">CONTACT US</a> </li>
              <li class="link"> <a href="/locations" class="nav">OUR LOCATIONS</a> </li>
              <li class="link"><a href="/gallery" class="nav">GALLERY</a></li>
          
              <li class="link"><a href=" " class="nav">NEWS</a></li>
            </ul> 
        </div>  
    </div> 
    <div class="header__logo">
        UNIFIED TITANS
    </div>
    </div> 
    <section id="contact-us">
        <div class="contact-heading">
          <h2  class="heading-secondary white">CONTACT US</h2>
        </div>
        <div class="contact">    
          <div class="contact-form">
            <div class="name">
              <p class="paragraph_contact">Name</p>
              <input class="text" type="text" placeholder="Your Name">
            </div>
            <div class="email">
              <p class="paragraph_contact">Email</p>
              <input class="text" type="text" placeholder="Your Email">
            </div>
            <div class="how">
              <p class="paragraph_contact">How did you find us</p>
              <select class="text" name="" id="">
                <option value="">
                  friends
                </option>
                <option value="">search</option>
                <option value="">advertsiment</option>
                <option value="">other</option>
              </select>
            </div>
            <div class="drop">
              <p class="paragraph_contact">Drop us a line</p>
              <textarea class="text area" name="" id="" placeholder="Your Message"></textarea>
            </div>
            <a href="#" class="btn btn--green btn--animated">Send Message</a>
    
          </div>
    
    
        </div>
    
    
      </section>
</body>
</html>