<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="stylesheet" href="css/queries.css">
    <title>Document</title>
</head>
<body>
    <header class="header_gallery">

        <div class="sidebar">           
        <div class="nav-btn__links">
            <input type="checkbox"  class="nav-checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">
                <span class="nav-btn">&nbsp;</span>
            </label>
        <div class="navbar-dropdown">    
            <ul class="nav-list">
                <li class="link"><a href="/" class="nav">HOME</a></li>
              <li class="link"> <a href="/contactUs" class="nav">CONTACT US</a> </li>
              <li class="link"> <a href="/locations" class="nav">OUR LOCATIONS</a> </li>
              <li class="link"><a href="/gallery" class="nav">GALLERY</a></li>
          
              <li class="link"><a href=" " class="nav">NEWS</a></li>
            </ul> 
        </div>  
    </div> 
    </div>
    <div class="header__logo">
        UNIFIED TITANS
    </div>
</header>

<section class="gallery">
     <div class="contact-heading photo_heading">
          <h2  class="heading-secondary white">Photo Gallery</h2>
        </div>
<div class="container">
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="/css/img/pexels-adrien-olichon-2387793.jpg" alt="" srcset="">
    </div>
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="/css/img/nat-8.jpg" alt="" srcset="">
    </div>
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="/css/img/players.jpeg" alt="" srcset="">
    </div>
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="css/img/nat-1-large.jpg" alt="" srcset="">
    </div>
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="/css/img/nat-2-large.jpg" alt="" srcset="">
    </div>
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="/css/img/OTSOUE0g.jpg" alt="" srcset="">
    </div>
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="/css/img/nat-3-large.jpg" alt="" srcset="">
    </div>
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="/css/img/OTSOUE0g.jpg" alt="" srcset="">
    </div>
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="/css/img/nat-3-large.jpg" alt="" srcset="">
    </div>
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="/css/img/OTSOUE0g.jpg" alt="" srcset="">
    </div>
    <div class="image">
        <h1>Image Name</h1>
        <img class="img" src="/css/img/nat-3-large.jpg" alt="" srcset="">
    </div>
 
</div>
</section>
</body>
</html>