<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unified Table Tennis Academy</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="./css/icon-font.css">
    <link rel="stylesheet"  href="./css/style.css">
    <link rel="stylesheet"  href="./css/queries.css">

</head>
<body>
   
    <header class="header">
        <div class="sidebar">           
        <div class="nav-btn__links">
            <input type="checkbox"  class="nav-checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">
                <span class="nav-btn">&nbsp;</span>
            </label>
        <div class="navbar-dropdown">    
            <ul class="nav-list">
                <li class="link"><a href="/" class="nav">HOME</a></li>
              <li class="link"> <a href="/contactUs" class="nav">CONTACT US</a> </li>
              <li class="link"> <a href="/locations" class="nav">OUR LOCATIONS</a> </li>
              <li class="link"><a href="/gallery" class="nav">GALLERY</a></li>
          
              <li class="link"><a href="/news" class="nav">NEWS</a></li>
            </ul> 
        </div>  
    </div> 
    </div> 
        
      
            <!-- <img src="./css/img/" alt="Logo" class="header__logo"> -->
            <div class="header__logo">
                UNIFIED TITANS
            </div>
            
        
        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">Table Tennis</span>
                <span class="heading-primary--sub">for all</span>
                <span class="heading-primary--sub">for life</span>
               
            </h1>
                   
            <a href="#" class="btn btn--white btn--animated">Book a trial class now</a>
           
           
        </div>
        <!-- <div class="training-session">
            <h3 class="heading-tertiary heading-video">
                Training video
            </h3>
            <div class="hero__video">
                <video class="bg-video__content" autoplay="" muted="" loop="">
                    <source src="./css/img/hero-video.mp4" type="video/mp4">
                    Your browser is not supported
                  </video>
                  
            </div>
        </div>
      -->
      
            
       
    </header>
    <main>
        <div class="training-session">
            <h3 class="heading-tertiary heading-video">
                Training video
            </h3>
            <div class="hero__video">
                <video class="bg-video__content" autoplay="" muted="" loop="">
                    <source src="./css/img/hero-video.mp4" type="video/mp4">
                    Your browser is not supported
                  </video>
                  
            </div>
        </div>
     

        <div class="follow-us">
            <div class="contact-info">
           <p class="follow-p">Email : unifiedtitans@gmail.com</p>
           <p class="follow-p">Phone: 7982051368</p>
            </div>
            <div class="follow-text">
                Follow us at
              </div>
            <div class="follow-icons">
                <a href="https://www.instagram.com/unifiedtitans/?hl=en" class="icon"><i class="fab fa-instagram follow-icon-insta"></i></a>
                <a href="https://www.facebook.com/Unifiedtitans/" class="icon"><i class="fab fa-facebook-f follow-icon-facebook"></i></a>
                <a href="https://www.youtube.com/watch?v=-jsNB_se3UY" class="icon"><i class="fab fa-youtube follow-icon-youtube"></i></a>
            </div>
            <a href="#" class="btn btn--white btn--join">join now</a>
        </div>
  
    

        <section class="about-us u-margin-top-huge">
                <h2 class="heading-secondary">
                    About us
                </h2>
                <div class="row">
                    <div class="col-1-of-2">
                       <h3 class="heading-tertiary__black u-margin-top-big  u-margin-bottom-small">
                           Foundation Unified Titans Table tennis Academy
                       </h3> 
                       <p class="paragraph u-margin-bottom-small"><strong >2009:</strong>Laid foundation by opening first academy in Gurgaon at Sector 4 by the founder-Mr. Prashant Yadav
                        with vision of promoting the game of table tennis 
                        with the right coaching and guidance to the talented students. 
                        it has over 150 players actively getting professional training as of today
                    </p>
                    <p class="paragraph u-margin-bottom-small"><strong >2012:</strong> co-founder -Mr Ankit Gupta laid roots of Unified Titans Table Tennis Academy in faridabad which remains the second biggest center till date with over 125
                        Students taking coaching at professional scale 
                        </p>
                        <p class="paragraph u-margin-bottom-small">Unified Titans Table tennis Academy players Continue to attend some of Indias most prestigious camps and bring laurels in the national laevel tournaments across the country </p>
                         <p class="paragraph u-margin-bottom-small">75+ National Level players are being coached in our & 7centers in Gurugram & Faridabad.</p>
                         <a href="#" class="btn-text"> Learn more &rarr; </a>
                    </div>
                    <div class="col-1-of-2">
                        <div class="composition u-margin-top-huge">
                            <img src="./css/img/nat-1-large.jpg" alt="Photo 1" class="composition__photo composition__photo--p1 ">
                            <img src="./css/img/nat-2-large.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
                            <img src="./css/img/nat-3-large.jpg" alt="photo 3" class="composition__photo composition__photo--p3">
                        </div>
                    </div>
                </div>
        </section>

        <section class="section-features u-margin-top-huge">
            <h2 class="heading-secondary heading-secondary__white ">
                AWESOME FEATURES
            </h2>
            <div class="feature_row row u-margin-top-huge u-margin-bottom-big">
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-world"></i>
                        <h3 class="heading-tertiary__gold u-margin-bottom-small">
                           Inperson multiball sessions
                        </h3>
                        <p class="feature-box__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, iste. Unde nobis harum aspernatur</p>                     

                        </div>
                </div>
            
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-compass"></i>
                        <h3 class="heading-tertiary__gold u-margin-bottom-small">
                           Train with professional players 
                        </h3>
                        <p class="feature-box__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, iste. Unde nobis harum aspernatur</p>                     

                        </div>
                </div>
                <div class="col-1-of-4">
                    <div class="feature-box">
                        <i class="feature-box__icon icon-basic-map"></i>
                        <h3 class="heading-tertiary__gold u-margin-bottom-small">
                           regular tournaments
                        </h3>
                        <p class="feature-box__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, iste. Unde nobis harum aspernatur</p>                  

                        </div>
                </div>
            
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-heart"></i>
                    <h3 class="heading-tertiary__gold u-margin-bottom-small">
                       Fitness sessions 
                    </h3>
                    <p class="feature-box__text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, iste. Unde nobis harum aspernatur</p>                    
            </div>
        </div>
    </div>
    </section>

    <section class="section-team">
        <div class="team__top-div ">
            <h2 class="heading-secondary heading-secondary__black">
                Meet our coaches
            </h2>
            <div class="team__para">
                <p class="paragraph u-center-text u-margin-top-medium">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rerum corporis lorem ipsumd amet consectetur 
                </p>
            </div>
            
        </div>

        <div class="team__HeadCoach">
            <div class="team__box2">
                <img class="team__coach-box--img" src="./css/img/nat-2-largedfs.jpg" alt="">
                <div class="team__info-div pos1">
                    <h3 class="heading-tertiary__gold">
                        Mr Ankit Gupta  
                      </h3>
                      <p class="paragraph_about-coach">
                        Head Coach
                    </p>
                      <p class="paragraph">
                         
                      </p>
                </div>
                
            </div>
            <div class="team__box2">
                <img class="team__coach-box--img" src="./css/img/RanjeevSinghGill-caoch.jpg" alt="">
                <div class="team__info-div pos2">
                    <h3 class="heading-tertiary__gold">
                        Mr Prashant YADAV  
                      </h3>
                      <p class="paragraph_about-coach">
                        Head Coach
                    </p>
                      <p class="paragraph">
                         
                      </p>
                </div>
                
            </div>
        </div>
        <div class="team__Coach">
              <div class="team__box">
                <img class="team__coach-box--img" src="./css/img/PujaYadav-Coach.jpg" alt="">
                <div class="team__info-div">
                    <h3 class="heading-tertiary__gold">
                        Ms Pooja Yadav  
                      </h3>
                 
                      <p class="paragraph">
                         
                      </p>
                </div>
                
            </div>
            <div class="team__box">
                <img class="team__coach-box--img adjust-Shape__pooja" src="./css/img/RanjeevSinghGill-caoch.jpg" alt="">
                <div class="team__info-div">
                    <h3 class="heading-tertiary__gold">
                        Mr Ranjeev Singh Gill 
                      </h3>
                     
                      <p class="paragraph">
                         
                      </p>
                </div>
                
            </div>
            <div class="team__box">
                <img class="team__coach-box--img" src="./css/img/RavinderYadav-Coach.jpg" alt="">
                <div class="team__info-div">
                    <h3 class="heading-tertiary__gold">
                        Mr Ravinder Yadav  
                      </h3>  
                      <p class="paragraph">     
                      </p>
                </div>
                
            </div>
        
                <div class="team__box">
                  <img class="team__coach-box--img adjust-Shape__As" src="./css/img/AshishPalCoach.jpg" alt="">
                  <div class="team__info-div pos6">
                      <h3 class="heading-tertiary__gold">
                          Mr Ashish Pal  
                        </h3>
                       
                        <p class="paragraph">
                           
                        </p>
                  </div>
              </div>
              <div class="team__box">
                <img class="team__coach-box--img adjust-Shape__As" src="./css/img/BharatSachdeva-Coach.jpg" alt="">
                <div class="team__info-div pos6">
                    <h3 class="heading-tertiary__gold">
                        MR Bharat Sachdeva 
                      </h3>
                     
                      <p class="paragraph">
                         
                      </p>
                </div>
            </div>

            <div class="team__box">
                <img class="team__coach-box--img adjust-Shape__As" src="./css/img/jaipal-Coach.jpg" alt="">
                <div class="team__info-div pos6">
                    <h3 class="heading-tertiary__gold">
                        Mr Jai Pal 
                      </h3>
                     
                      <p class="paragraph">
                         
                      </p>
                </div>
            </div>
        
        </div>
        <div class="team__HeadCoach">
            <div class="team__box2">
                <img class="team__coach-box--img" src="./css/img/nat-2-largedfs.jpg" alt="">
                <div class="team__info-div pos1">
                    <h3 class="heading-tertiary__gold">
                        MR Saurabh Lathwal  
                      </h3>
                    
                </div>
                
            </div>
            <div class="team__box2">
                <img class="team__coach-box--img" src="./css/img/RanjeevSinghGill-caoch.jpg" alt="">
                <div class="team__info-div pos2">
                    <h3 class="heading-tertiary__gold">
                        Mr Rahul Yadav  
                      </h3>
                   
                </div>
                
            </div>
        </div>
        
           
    </section>
     <section class="achievements"> 
        <div class="team__top-div">
            <h2 class="heading-secondary heading-secondary__black">
               our Top players
            </h2>
        </div>
         <div class="achievements__internationals">
            <h1 class="heading-tertiary-large u-margin-bottom-big">
                International players
            </h1>
            <div class="achievements__int-div">
                <div class="achievements__image">
                    <div class="image-div">
                    <img  class="achievements__image-int" src="./css/img/InternationalPlayer1.jpg" alt="">
                     <p class="achievements__paragraph-name">Sarthak Gandhi</p>
                     <p class="achievements__paragraph">Silver Medal Nigeria Open, 2017</p> 
                    </div>
                                     
                </div>
                
                <div class="achievements__image">
                    <div class="image-div">
                        <img class="achievements__image-int" src="./css/img/InternationalPlayer2.jpg" alt="">
                        <p class="achievements__paragraph-name">Ravinder Yadav</p>
                        <p class="achievements__paragraph">Participation Jordan Para Open, 2017</p>
                    </div>
                   
                </div>
               
           
            
    
                <div class="achievements__image">
                    <div class="image-div">
                        <img  class="achievements__image-int" src="./css/img/InternationalPlayer3.jpg" alt="">
                        <p class="achievements__paragraph-name">Sandeep Karla</p>
                        <p class="achievements__paragraph">Para Indonesia Open & Thailand Open 2018-2019</p>     
                    </div>
                    
                </div>
                
                <div class="achievements__image">
                    <div class="image-div">
                        <img class="achievements__image-int" src="./css/img/InternationalPlayer4.jpg" alt="">
                        <p class="achievements__paragraph-name">Arnav Chabbra</p>
                        <p class="achievements__paragraph">Participation Egypt Open, 2018</p>
                    </div>
                  
                </div>
               
            </div>
            
         </div>
         <div class="achievments__nationals">
            <h1 class="heading-tertiary u-margin-bottom-big">
                National players
            </h1>
            <div class="achievements__nat-div">
              
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/DhruvVats.jpg" alt="">
                        <p class="achievements__paragraph-name">Dhruv Vats</p>                 
                    </div>
                    
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/rishabhMayank.jpg" alt="">
                        <p class="achievements__paragraph-name">rishabh Mayank</p>
                        
                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/IshikaRajput.jpg" alt="">
                        <p class="achievements__paragraph-name">Ishika Rajput</p>
                        
                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/KashviKalra.jpg" alt="">
                        <p class="achievements__paragraph-name">Kashvi Kalra</p>
                                       
                    </div>
                    
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/AngelChauhan.jpg" alt="">
                        <p class="achievements__paragraph-name">Angel Chauhan</p>

                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/chaitayaNarwal.jpg" alt="">
                        <p class="achievements__paragraph-name">chaitaya Narwal</p>
                     
                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/SnehaSingh.jpg" alt="">
                        <p class="achievements__paragraph-name">Sneha Singh</p>
                            
                    </div>
                    
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/KavyaYadav.jpg" alt="">
                        <p class="achievements__paragraph-name">Kavya Yadav</p>
                       
                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/PrathamBansal.jpg" alt="">
                        <p class="achievements__paragraph-name">Pratham Bansal</p>
                     
                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/NeeravKatyal.jpg" alt="">
                        <p class="achievements__paragraph-name">Neerav Katyal</p>
                     
                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/DakshGandhi.jpg" alt="">
                        <p class="achievements__paragraph-name">Daksh Gandhi</p>
                     
                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/DeepakSingh.jpg" alt="">
                        <p class="achievements__paragraph-name">Deepak Singh</p>
                     
                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/SuvidhiMehta.jpg" alt="">
                        <p class="achievements__paragraph-name">Suvidhi Mehta</p>
                     
                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/AsadAli.jpg" alt="">
                        <p class="achievements__paragraph-name">Asad Ali</p>
                     
                    </div>
                    <div class="achievements__image-national">
                        <img class="achievements__image2" src="./css/img/AtharvMehta.jpg" alt="">
                        <p class="achievements__paragraph-name">Atharv Mehta</p>
                     
                    </div>
                </div>
            </div>
     </section>
     <section class="section-stories">
        <!-- <div class="bg-video">
            <video class="bg-video__content" autoplay="" muted="" loop="">
                <source src="img/video.mp4" type="video/mp4">
                <source src="img/video.webm" type="video/webm">
                Your browser is not supported!
            </video>
        </div> -->

        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary white">
               What our Students say about us
            </h2>
        </div>

        <div class="row">
            <div class="story">
                <figure class="story__shape">
                    <img src="./css/img/IshfaqRamzan.png" alt="Person on a tour" class="story__img">
                    <figcaption class="story__caption">Ishfaq Ramzan</figcaption>
                </figure>
                <div class="story__text">
                    <h3 class="heading-tertiary__gold u-margin-bottom-small ">Very experienced and mature staff as well as high quality training. I was personally very much impressed by the academy!!
                    </h3>
                    <p>
                        
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="story">
                <figure class="story__shape">
                    <img src="./css/img/KamalPathak.png" alt="Person on a tour" class="story__img">
                    <figcaption class="story__caption">Kumar Pathak</figcaption>
                </figure>
                <div class="story__text">
                    <h3 class="heading-tertiary__gold u-margin-bottom-small">This place is a great facility for learning and instruction on the game of table tennis.
                        The instructors are top flight and the facility meets my needs. I love being a member of this facility!!</h3>
                    <p>
                        
                    </p>
                </div>
            </div>
    </section>
</main>
    <footer>
        <div class="footer-parent">
          
          <ul class="social-link">
            <li><a href="https://www.facebook.com/Unifiedtitans/"><i class="fab fa-facebook-f follow-icon-facebook"></i></a></li>
            <li><a href="https://www.youtube.com/watch?v=-jsNB_se3UY"><i class="fab fa-youtube follow-icon-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/unifiedtitans/?hl=en"><i class="fab fa-instagram follow-icon-insta"></i></a></li>

          </ul>
        </div>
        <p class="footer-p">Copyright © 2021 EVERYONE. All rights reserved.</p>
      </footer>
    </div>
    

</body>
<script src="./js/script.js"></script>
</html>


<!--2009 : Laid foundation by opening first academy in Gurgaon at Sector 4 by the founder-Mr. Prashant Yadav
with vision of promoting the game of table tennis 
with the right coaching and guidance to the talented students. 
it has over 150 players actively getting professional training as of today

2012: co-founder -Mr Ankit Gupta laid roots of Unified Titans Table Tennis Academy in faridabad which remains the second biggest center till date with over 125
Students taking coaching at professional scale 

Unified Titans Table tennis Academy players Continue to attend some of Indias most prestigious camps and bring laurels in the national laevel tournaments across the country 

75+ National Level players are being coached in our & 7centers in Gurugram & Faridabad.

with renowned specialists in Strength Training Mental Conditioning and Nutrition , our Coaches are fully equiped with required training to bring in sucess to a student's sports career & aspirations 

-->