<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/icon-font.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="css/queries.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unified Table Tennis Academy</title>   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="">
        <div class="sidebar">           
        <div class="nav-btn__links">
            <input type="checkbox"  class="nav-checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">
                <span class="nav-btn">&nbsp;</span>
            </label>
        <div class="navbar-dropdown">    
            <ul class="nav-list">
                <li class="link"><a href="/" class="nav">HOME</a></li>
              <li class="link"> <a href="/contactUs" class="nav">CONTACT US</a> </li>
              <li class="link"> <a href="/locations" class="nav">OUR LOCATIONS</a> </li>
              <li class="link"><a href="/gallery" class="nav">GALLERY</a></li>
          
              <li class="link"><a href=" " class="nav">NEWS</a></li>
            </ul> 
        </div>  
    </div> 
    </div>
    <div class="header__logo">
        UNIFIED TITANS
    </div>
</header>
<section class="locations">
    <div class="location">
        <h2 class="heading-secondary location_heading">
            Unified Titans Table Tennis Academy Gurugram Main center
        </h2>

        <div class="location__info">
            <div class="loaction_para">
                <div class="location__address">
                    <i class="fas fa-map-marker-alt location_icon"></i>
                    <p class="location_paragraph">P21 Variman Point, New Colony Rd, Shivpuri, Gurgaon Rural, Gurugram, Haryana 122002</p>
                </div>
                <div class="location__address">
                    <a class="location_link" href="mailto:unifiedtitans@gmail.com">      <i class="fas fa-envelope-square location_icon"></i></a>
                    <p class="location_paragraph">uniefdtitans@gmail.com</p>
                </div>
                <div class="location__address">
                    <a class="location_link" href="Tel:+917982051638"><i class="fas fa-phone-alt location_icon"></i></a>
                    <p class="location_paragraph">7982051638</p>
                </div>

            </div>
                           
           

        <div class="location__map">
           <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14029.439285765617!2d77.0143581!3d28.4687085!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x73c037d94fe5aaf0!2sUnified%20Titans%20Table%20Tennis%20Academy!5e0!3m2!1sen!2sin!4v1612975277441!5m2!1sen!2sin" width="600" height="360" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    </div>
    <div class="location">
        <h2 class="heading-secondary location_heading">
            Unified Titans Table Tennis Academy Faridabad Main center
        </h2>

        <div class="location__info">
            <div class="loaction_para">
                <div class="location__address">
                    <i class="fas fa-map-marker-alt location_icon"></i>
                    <p class="location_paragraph">DYNASTY INTERNATIONAL SCHOOL, Rajendra Colony, Sector 28, Faridabad, Haryana 121008</p>
                </div>
                <div class="location__address">
                    <a class="location_link" href="mailto:unifiedtitans@gmail.com"><i class="fas fa-envelope-square location_icon"></i></a>
                    <p class="location_paragraph">uniefdtitans@gmail.com</p>
                </div>
                <div class="location__address">
                    <a class="location_link" href="Tel:+917982051638"><i class="fas fa-phone-alt location_icon"></i></a>
                    <p class="location_paragraph">7982051638</p>
                </div>

            </div>
                           
           

        <div class="location__map">
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14029.439285765617!2d77.0143581!3d28.4687085!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x73c037d94fe5aaf0!2sUnified%20Titans%20Table%20Tennis%20Academy!5e0!3m2!1sen!2sin!4v1612975277441!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
             -->
             <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14034.418551666473!2d77.3122944!3d28.4311843!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8d0bf034c50c9a15!2sUnified%20Titans%20Table%20Tennis%20Academy%20%2C%20Faridabad%20(%20Branch%20)!5e0!3m2!1sen!2sin!4v1613042573717!5m2!1sen!2sin" width="600" height="360" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    </div>
</section>

<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14029.439285765617!2d77.0143581!3d28.4687085!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x73c037d94fe5aaf0!2sUnified%20Titans%20Table%20Tennis%20Academy!5e0!3m2!1sen!2sin!4v1612975277441!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> -->
</body>
</html>